.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}
.align-center {
  align-self: center;
}
.justify-start {
  justify-self: flex-start;
}
.justify-end {
  justify-self: flex-end;
}
.justify-center {
  justify-self: center;
}
.space-between {
  justify-content: space-between;
}

.heading1 {
  font-weight: 700;
  font-size: 5.2rem;
}
.heading2 {
  font-weight: 600;
  font-size: 3.6rem;
}
.heading3 {
  font-weight: 600;
  font-size: 2.4rem;
}
.heading4 {
  font-weight: 400;
  font-size: 1.8rem;
}
.arounds-padding {
  padding: 8rem;
}
.gap1 {
  gap: 2rem;
}

.lp-5 {
  padding-left: 5.5rem;
}
.text-color {
  color: rgb(88, 88, 88);
}
.detail-color {
  color: rgb(153, 153, 153);
}
.text-center {
  text-align: center;
}
.ul-style {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.bgc-red {
  background-color: rgba(252, 193, 193, 0.6);
}
.bgc-brown {
  background-color: rgba(207, 171, 142, 0.6);
}
.bgc-green {
  background-color: rgba(205, 252, 193, 0.6);
}
.bgc-purpl {
  background-color: rgba(240, 193, 252, 0.6);
}
