.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}
.align-center {
  align-self: center;
}
.justify-start {
  justify-self: flex-start;
}
.justify-end {
  justify-self: flex-end;
}
.justify-center {
  justify-self: center;
}
.space-between {
  justify-content: space-between;
}

.heading1 {
  font-weight: 700;
  font-size: 5.2rem;
}
.heading2 {
  font-weight: 600;
  font-size: 3.6rem;
}
.arounds-padding {
  padding: 8rem;
}
