*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.notification {
  width: 250px;
  height: 60px;
  background-color: rgba(115, 144, 246, 0.568);
  position: relative;
  top: 0px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
}
